# Ignore Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environments
env/
venv/
.venv/

# Ignore backup & record files
record backup.txt
record.txt

# Ignore system files
.DS_Store
Thumbs.db
